<div class="navbar">
    <div class="container flex-nav">
        <ul class="nav-list">
          <li class="nav-link"><a class="nav-a" href="/pills"><i class="fa fa-user" aria-hidden="true"></i></a></li>
          <li class="nav-link"><a class="nav-a" href="/pills/new"><i class="fas fa-plus" aria-hidden="true"></i></a></li>
          <!-- <li class="nav-link"><a class="nav-a"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li> -->
          <li class="nav-link"><button class="nav-a" id="open"><i class="fas fa-sign-out-alt"></i></button></li>
        </ul>
</div>