<!-- <!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <main>
      <div class="login-header">
        <h1 class="login-logo">PillBox</h1>
        <img src ="/img/login background graphic.png">
      </div>
      <div class="login-button">
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
      </div>
    </main>
  </body>
</html> -->