<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="signup-header">
        <h1 class="signup-logo">PillBox</h1>
        <img src ="/img/login background graphic.png">
      </div>
      <div class="signup-form">
        <h2>Sign Up</h2>
        <form action="/user/signup" method="post">
            <label
              >Username: <input type="text" name="username" required placeholder="Enter your username"/>
            </label><br>
            <label
              >Password: <input type="password" name="password" required placeholder="Enter password"/>
            </label><br>
            <input class="signup-button" type="submit" value="SIGNUP" />
            <p class="login-link">Already have an account? <span><a href="/user/login">Login</a></span></p>
        </form>
      </div>
    </main>
  </body>
</html>