@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

:root{
    --orange: #e97312;
    --yellow: #fdd72e;
    --light-green: #a8dbd3;
    --dark-green: #00493d;
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
    margin:0 auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 390px;
    height: 844px;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
}

/*  Nav bar styles */

.flex-nav {
    overflow: hidden;   
}

.nav-list {
    background-color: var(--dark-green);
    padding: 1rem;
    display: flex;
    bottom: 0;
    width: 388px;
    border-radius: 0px 0px 25px 25px;
}

.nav-link {
    list-style: none;
}

.nav-a {
    font-size: 1.5rem;
    color: rgb(196, 196, 196);
    border: transparent;
    background: transparent;
}

.nav-a :hover{
    color: white;
}

/*  Login & Signup styles */
.login-logo, .signup-logo {
    font-size: 40px;
    text-align: center;
    color: #e97312;
    margin-top: 30px;
}

.login-header img, .signup-header img {
    margin-top:-40px;
    margin-right: 50px;
    width: 450px;
    display:block;
}

.login-form, .signup-form {
    background-color: var(--light-green);
    height: 600px;
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
}

h2{
    margin-bottom: 20px;
    color: rgb(44, 44, 44);
}

input {
    width: 95%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

input:focus {
    outline: 0;
    border: 1px solid var(--yellow);
  }

.login-button, .signup-button{
    background-color: var(--orange);
    color: white;
    border: none;
}

.signup-link, .login-link {
    margin-top: 80px;
    text-align: center;
}

a {
    color: var(--orange);
    text-decoration: none;
  }


/* Index page styles */
.index-header{
    height: 150px;
}

.index-header h1{
    padding: 10px 0px 0px 25px;
    color: var(--dark-green)
}

.flex-container h2{
    color: var(--orange);
    margin: 0 0 15px 25px;
}

.index-header p {
    padding: 0px 0px 0px 25px;
    color: var(--dark-green)
}

.index-header img {
    margin-top: -100px;
    margin-left: 265px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow-x: scroll;
    overflow-y: auto;
    padding-top: 10px;
}

.card {
    background-color: white;
    color: var(--dark-green);
    margin: 5px 5px;
    width: 350px;
    height: 220px; 
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    background-color: #f8eee5;
    height: 100px;
    flex-basis: 40%;
}

/*  Signout modal */
.signout-popup {
    width: 300px;
    height: 300px;
    background-color: var(--light-green);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    text-align: center;
    transform: scale(0);
    position: absolute;
    z-index: 1000;
    padding-top: 100px;
}

.cancel-button {
    margin-top: 20px;
    border:none;
    padding: 10px;
    border-radius: 5px;
    background: white;
}
.signout-button {
    margin-top: 20px;
    margin-left: 10px;
    border:none;
    padding: 10px;
    background: var(--dark-green);
    color: white;
    border-radius: 5px;
}


/* New page styles */
.new-button {
    background-color: var(--orange);
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

