<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

    <body>
    <%- include("../partials/header.ejs") %>
        <main>
            <div>
                <form action="/pills" method="post">
                    <fieldset>
                        <legend>Add a New Medicine</legend>
                    <label>
                        NAME:<input
                        type="text"
                        name="name"
                        placeholder="enter pill name"
                        />
                    </label>
                    <label>
                        COLOR:<input
                        type="text"
                        name="color"
                        placeholder="enter pill color"
                        />
                    </label>
                    <label>
                        SHAPE:<input
                        type="text"
                        name="shape"
                        placeholder="enter pill shape"
                        />
                    </label>
                    <label>
                        STOCK:<input
                        type="text"
                        name="stock"
                        placeholder="enter pill stock"
                        />
                    </label>
                    <label>
                        Before Food:<input type="checkbox" name="beforeFood"/>
                    </label>
                    <label>
                        After Food:<input type="checkbox" name="afterFood"/>
                    </label>
                    </fieldset">
                    <input class="new-button" type="submit" value="ADD" />
                </form>
            </div>
            <%- include("../partials/nav.ejs") %>
        </main>
    </body>
</html>