<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

    <body>
    <%- include("../partials/header.ejs") %>
        <main>
            <a href="/pills/"><img class="arrow" src="/img/arrow.png" width="20px"></a>
            <h2 class="add-new">Add a New Medicine</h2>
            <div class="new-container">
                <form action="/pills" method="post">
                    <fieldset>
                    <label>
                        Medicine Name:<input
                        type="text"
                        name="name"
                        placeholder="Enter your medicine name" required
                        />
                    </label>
                    <label>
                        Quantity:<input
                        type="number"
                        name="quantity"
                        placeholder="Enter your quantity"
                        />
                    </label>
                    <label>Choose a medicine type: </label>
                        <select id="medication-type" class="type" name="type">
                            <option value="capsule">Capsule</option>
                            <option value="tablet">Tablet</option>
                            <option value="softgel">Softgel</option>
                            <option value="syrup">Syrup</option>
                            <option value="aerosol">Aerosol</option>
                            <option value="injection">Injection</option>
                        </select>
                    <label>
                        Stock:<input
                        type="number"
                        name="stock"
                        placeholder="Enter your medicine stock"
                        />
                    </label>
                    <label>Time</label> <input id="time" type="text" name="time" placeholder="Example: 10:45 am"> 
                    </fieldset>
                    <input id="new-button" type="submit" value="ADD" />
                </form>
            </div>
            <div class="nav-bar">
            <%- include("../partials/nav.ejs") %>
            </div>
        </main>
    </body>
</html>